/* HeroSection.css */

.hero-section {
  background-color: #f4f4f4;
}

.hero-section h2 {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 2em;
  margin: 0;
}

.hero-section h1 {
  font-size: 2em;
  margin: 0;
  color: #ffffff;
}

.image-container {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container div {
  flex: 1;
  margin: 10px;
  width: 100%; /* Set width to 100% */
  height: 100%; /* Set height to 100% */
  background-size: cover;
  background-position: center;
  border: 2px solid red;
}

.I {
  display: flex;
}

.G,
.H {
  flex: 1;
  width: 100%; /* Set width to 100% */
  height: 100%; /* Set height to 100% */
  background-size: cover;
  background-position: center;
}

.D {
  background-color: red;
}

.E {
  background-color: black;
}

.M {
  padding-left: 10px;
  padding-top: 120px;
  color: white;
}

.S {
  margin: 0;
  display: flex;
}

.P {
  margin-left: 20px;
}

.Mo {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: white;
}

.ho {
  color: rgb(229, 102, 102);
  text-align: end;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .image-container div {
    flex: 1 0 calc(33.33% - 20px); /* Three items per row with 20px margin */
  }

  .G,
  .H {
    flex: 100%;
  }
}

@media (max-width: 768px) {
  .image-container div {
    flex: 1 0 calc(50% - 20px); /* Two items per row with 20px margin */
  }

  .G,
  .H {
    flex: 1 0 100%;
  }

  .S {
   
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .P {
    margin-left: 0;
    margin-top: 10px;
  }

  .M {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .image-container div {
    flex: 1 0 100%; /* One item per row */
  }
}
